
.ServiceEventList ul {
  margin: 0;
  list-style: none;
  padding: 0;
}
.ServiceEventListItem {
  padding: 5px 0;
}

.ServiceEventListItem-message {
  color: #54585E;
  font-size: 16px;
}

.ServiceEventListItem-timestamp {
  padding-right: 10px;
  font-size: 16px;
  color: #b7bdc4;
}
